{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load socialaccount %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

<a href="{% provider_login_url 'github' %}" class="fa fa-github fa-3x" role="button" aria-pressed="true">  Log In with GitHub</a>
</br>
</br>
<!--
<a href="{% provider_login_url 'github' %}" class="fa fa-twitter fa-3x" role="button" aria-pressed="true">  Log In with Twitter</a>
-->
</br>
</br>
<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Sign Up</button>
</form>



{% endblock content %}
