{% extends '_base.html' %}

{% load static %}


{% block title %}Blog Nikodema{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}

    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edytuj Post</a>
    
    {% endif %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}


        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

{% if user.is_authenticated %}

{% else %}


    {% endif %}
{% endblock content %}
